@import "antd/dist/antd.css";
/* General */
body {
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  overflow-x: hidden;
}
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.site-layout {
  padding: 0 50px;
  margin-top: 64px;
}
.site-layout-background {
  padding: 24;
  min-height: 380px;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px 15px;
}
.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.footer {
  text-align: center;
}
