/* General */
body {
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  overflow-x: hidden;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 15px;
}
.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}
